/* ---------------------------- reset ---------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ---------------------------- geral ---------------------------- */

:root {
    --primary-color: #EAEAEA;
    --secondary-color: #0B0D15; 
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
}

/* ---------------------------- components ---------------------------- */

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.logo a {
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.title, .subtitle {
    font-family: 'Bebas Neue';
    letter-spacing: 1px;
}

.title {
    font-size: 1.4rem;
    color: var(--secondary-color);
    margin: 0 0 0.5rem;
}

.subtitle {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin: 0 0 0.5rem;
}

.paragraph {
    font-size: 1rem;
    color: var(--secondary-color);
    margin: 0.5rem 0;
}

.highlight {
    font-weight: bold;
}

.button {
    display: block;
    background-color: var(--secondary-color);
    font-family: 'Bebas Neue';
    color: var(--primary-color);
    text-align: center;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem 0;
}

.button:hover {
    opacity: 0.9
}

/* ---------------------------- header ---------------------------- */

.header {
    background-color: var(--secondary-color);
    font-family: 'Bebas Neue';
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.link-item {
    font-size: 1.2rem;
    color: var(--primary-color)
}

/* ---------------------------- main ---------------------------- */

.main .container > section {
    display: flex;
    gap: 2rem;
}

.main .container > section > img {
    max-width: 50%;
}